<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODOアプリ - SpringBoot</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <div th:if="${errors}" th:each="error: ${errors}">
            <label th:text="${error}"></label>
        </div>
        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
             class="alert-danger">
            <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']}"></span>
        </div>
        <h1>ログイン</h1>
        <form th:action="@{/user/auth}" th:object="${request}" th:method="POST">
            <label>ユーザ名</label><input type="text" th:field="*{name}" name="name" /><br />
            <label>パスワード</label><input type="password" th:field="*{password}" name="password" /><br />
            <input type="submit" 登録 />
        </form>
        <a th:href="@{/}">トップページへ</a>
    </body>
</html>